.main {
    display: grid;
    grid-template-columns: 30fr 70fr;
    grid-gap: 10px;
    grid-template-rows: minmax(100vh, 1fr);
    padding: 10px;
}

.left {
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
}

.left_child {
    display: grid;
    grid-template-columns: 50fr 50fr;
    column-count: 10px;
}

.left_child>* {
    cursor: pointer;
}

.right {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}